.App {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: #F6F7F7;
}

.App-header {
  background-color: #0D3041;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 564px;
  height: 65px;
  padding-left: 15px;
}

.racing-form {
  display: flex;
  flex-direction: column;
  border: 1px solid #DDDEDE;
  width: 546px;
  height: 100vh;
  padding: 20px 15px 0px 15px;
  align-items: flex-start;
}

.race-time-box {
  font-family: 'proximaNova';
  color: #35383B;
  height: 15px;
  
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 542px;
}

.input-box {
  height: 36px;
  width: 265px;
  align-self: flex-start;
  border-radius: 3px;
  border: 1px solid #DDDEDE;
  margin: 5px 15px 10px 0px;
}
button {
  border: none;
  height: 39px;
  width: 99px;
  background-color: #2A5BD6;
  border-radius: 3px;
  color: white;
  font-family: 'proximaNova';
  font-size: 14px;
}

hr {
  height: 1px;
  width: 100%;
  background-color: #DDDEDE;
  margin-top: 123px;
  margin-bottom: 24px;
  border: none;
}
.results {
  font-family: 'proximaNovaB';
  margin-left: 15px;
}

.display-results {
  font-family: 'proximaNovaB';
  margin-left: 15px;
  color: black;
}

.display-error {
  font-family: 'proximaNova';
  color: red;
}
