@font-face {
  font-family: 'proximaNova';
  src: local('proximaNova'),
  url('./fonts/ProximaNova-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'proximaNovaB';
  src: local('proximaNova'),
  url('./fonts/ProximaNova-Bold.otf') format('opentype');
  font-weight: bold;
}